ul{

    display: inline;

text-align: center;
}

nav{
    background: limegreen;
    margin: 40px;

}
header{



}








li {
    display: inline;
    text-align: center;


    padding-left: 150px;
    padding-right: 150px;
    padding-top: 250px;
    font-size: 30px;

}
h1 {
    align-items: center;
    text-align: center;
    font-size: 80px;
}
h2{
    text-align: center;
   font-size: 65px;
   padding-top: 110px;
   text-underline: black;
   text-underline-style: dash-long;
   text-underline-mode: show;
}